[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
findspark = "*"
jupyter = "*"
numpy = "*"
pandas = "==1.2.0"
pypandoc = "*"
pyspark = "==3.0.1"
setuptools = "==51.1.1"
pygments = "==2.7.3"
attrs = "==20.3.0"
ipykernel = "==5.4.2"
ipython = "==7.19.0"
pip = "==20.3.3"
zipp = "==3.4.0"
py4j = "==0.10.9.1"

[requires]
python_version = "3.7"
